 @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
 @import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100%;
    overflow: hidden; /* Empêche le défilement */
}

.container {
    height: 100vh;
    background-color: #1c1c25;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    background: linear-gradient(#f00, #f0f);
    right: -25%;
    bottom: -18%;
    border-radius: 50%;
    z-index: 1;
 }

.credit-card {
    width: 508px;
    height: 314px;
    transform-style: preserve-3d;
    perspective: 500px;
    z-index: 10;
}

.card-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(10px);
    transform-style: preserve-3d;
    transition: transform 1s;
    backface-visibility: hidden;
}

.credit-card:hover .card-front {
    transform: rotateY(180deg);
}

.card-back {
    transform: rotateY(180deg);
}

.credit-card:hover .card-back {
    transform: rotateY(360deg);
}


/* ----- FRONT SIDE ----- */
.card-front::before, .card-front::after {
    content: "";
    position: absolute;
    bottom: 40px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.5;
    z-index: 100;
}

.card-front::before {
    right: 40px;
}

.card-front::after {
    right: 80px;
}

.card-type {
    position: absolute;
    left: 40px;
    top: 30px;
    color: #fff;
    font-weight: 500;
}

.bank-name {
    position: absolute;
    right: 40px;
    top: 25px;
    color: #fff;
    font-weight: 500;
    font-style: italic;
    font-size: 24px;
}

.chip-icon {
    position: absolute;
    top: 80px;
    left: 50px;
    width: 64px;
    height: 45px;
}

.card-number {
    position: absolute;
    bottom: 130px;
    left: 40px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 6px;
    font-size: 18px;
    text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
    font-family: "Orbitron", monospace;
}

.expiry-date {
    position: absolute;
    bottom: 90px;
    left: 40px;
    color: #fff;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1em;
    text-align: right;
}

.expiry-date span:last-child {
    margin-left: 20px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
}

.cardholder-name {
    position: absolute;
    bottom: 40px;
    left: 40px;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 16px;
}

 /* ----- BACK SIDE ----- */
.magnetic-strip {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 60px;
    background: #000;
}

.security-section {
    position: absolute;
    top: 120px;
    left: 30px;
}

.security-label {
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.signature-strip {
    position: relative;
    width: 447px;
    height: 40px;
    background: #fff;
    margin-top: 5px;
}

.cvv-code {
    position: relative;
    background: #fff;
    width: 50px;
    height: 30px;
    font-weight: 600px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -35px;
    left: 395px;
}

.terms-text {
    position: absolute;
    bottom: 30px;
    left: 30px;
    right: 30px;
    color: #fff;
    font-size: 10px;
    line-height: 1.4em;
    font-weight: 300;
    text-align: justify;
}